{% extends layout_template  %}

{% block title %}Edit User: {{ user.displayName }}{% endblock %}

{% block content %}

    <h1>{{ 'Edit User'|trans }}: {{ user.displayName }}</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">
                {{ 'Gravatar image'|trans }}<br>
                <a href="http://gravatar.com">{{ 'Change'|trans }}</a>
            </label>
            <div class="col-sm-8 form-control-static">
                <img src="{{ image_url }}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ 'Name'|trans }}</label>
            <div class="col-sm-8">
                <input class="form-control" name="name" type="text" id="input-name" placeholder="{{ 'Name'|trans }}" value="{{ user.name }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-email">{{ 'Email'|trans }}</label>
            <div class="col-sm-8">
                <input class="form-control" name="email" type="email" id="input-email" placeholder="{{ 'Email'|trans }}" required value="{{ user.email }}">
                <p class="help-block">{{ 'Never shared'|trans }}</p>
            </div>
        </div>

        {% if isUsernameRequired or user.hasRealUsername %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-name">Username</label>
                <div class="col-sm-8">
                    <input class="form-control" name="username" type="text" id="input-username" placeholder="Username" value="{{ user.realUsername }}">
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-password">{{ 'New password'|trans }}</label>
            <div class="col-sm-8">
                <input class="form-control" name="password" type="password" id="input-password" placeholder="{{ 'New password'|trans }}">
                <p class="help-block">{{ 'Leave blank except to change'|trans }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-confirm-password">{{ 'Confirm password'|trans }}</label>
            <div class="col-sm-8">
                <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" placeholder="{{ 'Confirm password'|trans }}">
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-roles">
                    {{ 'Roles'|trans }}<br/>
                    <span class="text-muted" style="font-weight: normal;">({{ 'Admin-only'|trans }})</span>
                </label>
                <div class="col-sm-8">
                    <select class="form-control" multiple id="input-roles" name="roles[]">
                        {% for role in available_roles %}
                            <option value="{{ role }}" {% if user.hasRole(role) %}selected{% endif %}>{{ role }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}

        {% if customFields %}
            {% for field,label in customFields %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-{{ field }}">{{ label }}</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="input-{{ field }}" name="{{ field }}" value="{{ user.getCustomField(field) }}">
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
            </div>
        </div>

    </form>

{% endblock %}
