{% extends layout_template  %}

{% block title %}{{ 'Email confirmation sent'|trans }}{% endblock %}

{% block content %}

    <h1>{{ 'Thank you!'|trans }}</h1>

    <p>{{ 'An email has been sent to you at'|trans }} <strong>{{ email }}</strong>.</p>

    <p>{{ 'Please click the link in that message to activate your account.'|trans }}</p>

{% endblock %}
